<!-- About Section -->
<section class="success" id="Sobre mi">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre mi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Hola, mi nombre es Nataly Guachamboza, tengo 22 años, estudio en Riobamba, 
          vivo en Ambato, soy alta y delgada, mis ojos son marrones, mi cabello es negro y lacio</p>
      </div>
      <div class="col-lg-4">
        <p>Me considero una persona responsable, alegre y amistosa, tambien me gusta leer, escuchar música, cantar, bailar, viajar, no tengo un deporte favorito, mi color favorito es el azul.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
